---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mí</a>
        <a href="/blog/">Blog</a>
		<h1>Sobre mi</h1>
		<h2>... y mi nuevo sito astro!!</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nulla accusamus dolore iure incidunt, reprehenderit et magnam mollitia assumenda voluptas.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sit.</p>
	</body>
</html>
